@model QuestionModel

<body>
        <h1>
            @Model.Question
        </h1>
        <form asp-controller="HelloWorld" asp-action="Welcome" method="post">
            @{
                var countOfCorrectAnswers = Model.Answers.Where(x => x.IsCorrect).Count();

                <input type ="hidden" asp-for="Question" />

                for (int x = 0; x < Model.Answers.Count; x++)
                {
                    <input type="hidden" asp-for="@Model.Answers[x].IsCorrect" />
                    <input type="hidden" asp-for="@Model.Answers[x].Answer" />
                    if (countOfCorrectAnswers == 1)
                    {
                        <input type="radio" asp-for="@Model.Answers[x].SelectedAnswers" value="true" /> @Model.Answers[x].Answer <br />
                    }
                    else
                    {
                        <input type="checkbox" asp-for="@Model.Answers[x].SelectedAnswers" value="@Model.Answers[x].SelectedAnswers" /> @Model.Answers[x].Answer <br />
                    }
                }
                <input type="submit" value="Wybierz" />
            }
        </form>
    </body>


@*@foreach (var question in Model)
    {
        <h1>
            @question.Value.Question
        </h1>
        <form method="post">
            @{
                var countOfCorrectAnswers = question.Value.Answers.Where(x => x.IsCorrect).Count();
                foreach (var answer in question.Value.Answers)
                {
                    if (countOfCorrectAnswers == 1)
                    {
                        <input type="radio" asp-for="@answer.Answer" value="@answer.SelectedAnswers" /> @answer.Answer <br />
                    }
                    else
                    {
                        <input type="checkbox" value="@answer.Answer" /> @answer.Answer <br />
                    }
                }
            }
            <input type="submit" value="Wybierz" />
        </form>
    }*@


@*<div class="row">
        <div class="col-md-4">
            <form asp-action="Welcome" method="post">
                <div asp-validation-summary="Mo" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="\MvcMovi" class="control-label"></label>
                    <input asp-for="\MvcMovi" class="form-control" />
                    <span asp-validation-for="\MvcMovi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>*@